.Body-container {
  margin-left: 100px;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .Body-container {
    margin-left: 0;
  }
}

.App {
  font-family: 'PT Sans', sans-serif;
  color: #323232;
}

h1 {
  height: min-content;
  font-size: 9vmin;
  font-weight: bold;
  padding-top: 5vh;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.line {
  width: 75vw;
  min-height: 3px;
  background-color: #323232;
  margin: 0px;
}
